.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Build directory
/build

# Jupyter checkpoints
/.ipynb_checkpoints

# Sample wav fiel used by Jupyter
sample.wav